@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="row animated fadeInRight">

    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Blog Detayları</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-fluid" src="@item.BlogImage">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>@item.BlogTitle</strong></h4>
                        <p><i class="fa fa-envolepe-open"></i> @item.Category</p>
                        <p><i class="fa fa-video-camera"></i><strong> Yönetmen : </strong> @item.Director</p>
                        <p><i class="fa fa-clock-o"></i><strong> Oluşturulma Tarihi : </strong>@item.CreateDate.ToShortDateString()</p>

                        <h5>
                            Film Hakkında
                        </h5>
                        <p>
                                    @item.BlogContent
                            </p>

                          <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.TrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/Admin/Blog/BlogApprovalProcess/@item.BlogId" type="button" class="btn btn-danger btn-sm btn-block"><i class="fa fa-arrow"></i> Bu Bloğu Onay Sayfasında Görüntüle  </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

    </div>