@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="w3l-blog-single">
		<div class="single blog py-5">
		  <div class="container py-lg-4">
		  <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
			<div class="title-content text-left">
				
					<h3 class="hny-title">Tüm Blog Gönderileri</h3>
			</div>
			
			<div class="d-grid grid-colunm-2 mt-lg-5 mt-4">
			  <!-- left side blog post content -->
			 
					 <div class="single-left">
						  @foreach (var item in Model)
				{
				<div class="single-left1">
					<div class="blg-img">
				  <a href="/Blog/SingleBlog/@item.BlogId"><img src="@item.BlogImage" alt="Blog Resmi" style="width:400px;">
				  </a>
				</div>
				 
				  <div class="btom-cont">
					<h4><span class="fa fa-clock-o mr-1" aria-hidden="true"></span> @item.CreateDate.ToShortDateString()</h4>
					<h5 class="card-title"><a href="/Blog/SingleBlog/@item.BlogId">@item.BlogTitle</a></h5>
				
					<p class="">@item.BlogContent</p>
					<hr class="mb-2 bg-danger text-white">
					<br>

					
				  </div>
				</div>
			
			}
			  </div>
				
			 
			  <!-- left side blog post content -->
	  
			  <!-- right side bar -->
			  <div class="right-side-bar">
				
				@await Component.InvokeAsync("SingleBlogRightSide")
				<aside class="posts">
				 
				</aside>
				
			@await Component.InvokeAsync("SuggestedMovie")


			  </div>
			  <!-- //right side bar -->
			</div>
				<!--/pagination -->
				

			<div class="pagination text-center">
					<ul class="page-numbers">
						@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{page}))
					</ul>
				</div>
			
					<!--//pagination -->
		  </div>
		</div>
	  </section>

