@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "ReplyMessage";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1 class="alert-success text-center">@ViewBag.success</h1>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic form elements</h4>
        <p class="card-description"> Basic form elements </p>

        @using (Html.BeginForm("ReplyMessage", "Message", FormMethod.Post))
        {
           
            @Html.Label("Gönderen")
            @Html.TextBoxFor(x => x.ReceiverUsername, new {@class="form-control"})

            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.Subject, new {@class="form-control"})


            @Html.Label("Mesaj İçeriği")
            @Html.TextAreaFor(x => x.MessageDetails, 15,3, new{@class="form-control"})


            <button type="submit" class="btn btn-gradient-primary mr-2">Cevapla</button>
        }
    </div>
</div>